.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
    transform: scale(1);
    transition: all .2s;
}

.card:hover {
    transform: scale(1.01);
    transition: all .2s;
    box-shadow: 0 0 30px black;
}

/*Card image*/
.card .image-container {
    aspect-ratio: 4 / 3;
    overflow: hidden;
}

.card .image-container img {
    aspect-ratio: 4 / 3;
    object-fit: cover;
    transform: scale(1);
    transition: all .2s;
}

.card:hover .image-container img {
    transform: scale(1.1);
    transition: all .2s;
}

/*Product card*/
.card.product p {
    opacity: 0.5;
}

.card.product span {
    font-size: 1.5em;
}

.card.product div#price-and-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
}

.card.product div#price-and-buy p {
    margin: 0;
}