.error-box {
    padding: 50px 10%;
    margin: auto 0;
    text-align: left;
}

.error-box nav {
    width: fit-content;
}

.error-box nav li {
    display: block;
    width: fit-content;
}

.error-box nav li + li {
    margin-left: 0;
}

.error-box nav span {
    background-color: black;
}