.footer {
    height: 60px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-panel);
}

.footer span, .footer svg {
    color: white;
    opacity: 0.5;
}

.footer span {
    flex: 2;
}

.footer a {
    padding: 0 10px;
}