.header-additional {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-panel-light-grad1);
    box-shadow: 0 0 30px var(--color-shadow);
}

.header-additional nav a {
    color: black;
}

.header-additional nav a span {
    background-color: black;
}