.header-additional {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.header-additional nav a {
    color: black;
}

.header-additional nav a span {
    background-color: black;
}