.header {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 25% auto 25%;
    grid-template-rows: 60px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    box-shadow: 0 0 var(--radius-shadow) var(--color-shadow);
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: left;
}

.logo-container a {
    height: 75%;
    object-fit: contain;
}

.logo-container img {
    height: 100%;
    object-fit: contain;
}

.header nav a {
    color: white;
}

.header nav span {
    background-color: white;
}

@media screen and (max-width: 700px) {
    .header {
        padding: 0 5%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 60px;
    }

    nav {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
}