.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(to top, var(--color-panel-light-grad2), var(--color-panel-light-grad1));
}

.hero img {
    display: block;
    width: 100%;
}

.hero div {
    position: absolute;
    top: 0;
    left: 10%;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    color: white;
}

.hero h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media screen and (max-width: 800px) {
    .hero div {
        position: relative;
        left: 0;
        width: auto;
        margin: 20px 10%;
        color: black;
    }

    .hero a.button.light {
        color: white;
        background-image: unset;
        border: unset;
        background-color: black;
    }
}