.image-map {
    position: relative;
}

.image-map img {
    display: block;
}

.image-map-area {
    position: absolute;
    box-sizing: border-box;
}

.image-map-area:hover {
    border: 2px solid red;
}

.image-map-area.active {
    border: 2px solid red;
}