.not-found {
    padding: 50px 10%;
    margin: auto 0;
    text-align: left;
}

.not-found nav {
    width: fit-content;
}

.not-found nav li {
    display: block;
    width: fit-content;
}

.not-found nav li + li {
    margin-left: 0;
}

.not-found nav span {
    background-color: black;
}