button {
    border-radius: 2em;
    border: none;
    font-family: inherit; font-size: 1em;
    text-align: center;
    text-decoration: none;
    line-height: 0;
    display: inline-block;
    height: 2em;
    margin: 0.3em 0;
    padding: 0.25em 1.5em;
    transform: translate(0, 0);
    transition: all 0.4s;
}

a.button {
    display: inline-block;
    width: fit-content;
    border-radius: 2em;
    margin: 0.3em 0;
    padding: 0.25em 1.5em;
    transform: translate(0, 0);
    transition: all 0.4s;
}

button:hover, a.button:hover {
    transform: translate(0, -2px);
    box-shadow: 0 3px var(--radius-shadow-small) var(--color-shadow-small);
}

/*Grayscale*/
button.dark, a.button.dark {
    background-color: black;
    color: white;
}

button.light, a.button.light {
    background-image: linear-gradient(to top, var(--color-panel-light-grad2), white);
    color: black;
    border: solid 1px white;
}

button.gray, a.button.gray {
    background-color: var(--color-bg);
    color: white;
}

/*Colorful*/
button.red, a.button.red {
    background-color: var(--color-red-dark);
    color: var(--color-red);
    border: solid 2px var(--color-red-medium);
}

button.red:hover, a.button.red:hover {
    background-color: var(--color-red-light);
    box-shadow: 0 3px var(--radius-shadow-small) var(--color-red-glow);
}

button.green, a.button.green {
    background-color: var(--color-green);
    color: var(--color-green-dark);
    border: solid 2px var(--color-green-medium);
    box-shadow: 0 3px var(--radius-shadow-small) var(--color-green);
}

button.green:hover, a.button.green:hover {
    background-color: var(--color-green-light);
    border-color: var(--color-green);
}

button.blue, a.button.blue {
    background-color: var(--color-blue-dark);
    color: var(--color-blue);
    border: solid 2px var(--color-blue-medium);
}

button.blue:hover, a.button.blue:hover {
    background-color: var(--color-blue-light);
    box-shadow: 0 3px var(--radius-shadow-small) var(--color-blue-glow);
}

button.yellow, a.button.yellow {
    background-color: var(--color-yellow);
    color: var(--color-yellow-dark);
    border: solid 2px var(--color-yellow-medium);
    box-shadow: 0 3px var(--radius-shadow-small) var(--color-yellow);
}

button.yellow:hover, a.button.yellow:hover {
    background-color: var(--color-yellow-light);
    border-color: var(--color-yellow);
}

button:disabled, button[disabled] {
    opacity: 0.5;
}