.panel {
    border-radius: var(--radius);
}

.padded {
    padding: 0 20px 10px 20px;
}

.panel.light {
    background-color: white;
}

.panel.light h1, .panel.light h2, .panel.light p, .panel.light span, .panel.light label, .panel.light li, .panel.light table {
    color: black;
}

.panel.dark {
    background-color: var(--color-panel);
}

.panel.dark h1, .panel.dark h2, .panel.dark p, .panel.dark span, .panel.dark label, .panel.dark li, .panel.dark table {
    color: white;
}

.panel img {
    width: 100%;
    object-fit: contain;
}