:root {
  --color-bg: #303030;

  --color-panel: #252525;
  --color-panel-grad1: #292929;
  --color-panel-grad2: #151515;
  --color-panel-border: #404040;

  --color-panel-light-grad1: #e1e1e1;
  --color-panel-light-grad2: #d0d0d0;

  --color-shadow: rgba(0, 0, 0, 0.75);
  --radius-shadow: 20px;

  --color-shadow-small: rgba(0, 0, 0, 0.5);
  --radius-shadow-small: 15px;

  --color-red-light: #59231b;
  --color-red: #dc5e4e;
  --color-red-medium: #ba4b3e;
  --color-red-dark: #4a1a13;
  --color-red-glow: rgba(244, 67, 42, 0.15);

  --color-green-light: #61e15c;
  --color-green: #3CC837;
  --color-green-medium: #2e8c2d;
  --color-green-dark: #044727;

  --color-blue-light: #184459;
  --color-blue: #519cd8;
  --color-blue-medium: #366d98;
  --color-blue-dark: #0e2f3e;
  --color-blue-glow: rgba(40, 180, 246, 0.15);

  --color-yellow-light: #f4d367;
  --color-yellow: #E8B931;
  --color-yellow-medium: #ac861b;
  --color-yellow-dark: #874801;

  --radius: 6px;
}

body {
  margin: 0;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: black;
  font-family: 'Jockey One', Tahoma, Verdana, sans-serif; font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}

#root > div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dock-top {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.content {
  padding: 6vh 10%;
  flex-grow: 1;  /*Make it expand to fill the empty space*/
  background-color: var(--color-bg);
  background-image: url('/background.png');
}

.content.narrow {
  padding: 6vh 20%;
}

.content-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.content-grid.small {
  grid-template-columns: 1fr 1fr;
}

hr {
  border: 1px solid white;
}

@media screen and (max-width: 1200px) {
  .content-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  .content-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
  }

  .content.narrow {
    padding: 6vh 10%;
  }
}