:root {
  --bg: #303030;
  --pane: #252525;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Jockey One', Tahoma, Verdana, sans-serif; font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  padding: 150px 50px;
  background-color: var(--bg);
}

.pane {
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border-radius: 100px;
  border: none;
  font-family: inherit; font-size: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 36px;
}

button.big {
  height: 40px;
}

h1 {
  font-size: 2em;
  margin-block-start: 0;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  font-size: 1em;
  margin-block-start: 0;
  margin-block-end: 1.5rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}