:root {
  --color-bg: #303030;
  --color-pane: #252525;
}

body {
  margin: 0;
  background-color: black;
  font-family: 'Jockey One', Tahoma, Verdana, sans-serif; font-size: 1.25em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

h2 {
  font-size: 1.5em;
  margin-block-start: 0.75rem;
  margin-block-end: 0.75rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

p {
  font-size: 1em;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  color: black;
  text-decoration: none;
}

a.button {
  width: min-content;
}

button {
  border-radius: 100px;
  border: none;
  font-family: inherit; font-size: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 36px;
  margin: 0.3em 0;
}

button.big {
  height: 40px;
}

.content {
  padding: 50px 10%;
  background-color: var(--color-bg);
}

.content-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr;
}

.content-grid div {
  border-radius: 5px;
}

@media screen and (max-width: 650px) {
  .content-grid {
    display: grid;
    gap: 25px;
    grid-template-columns: 1fr;
  }
}