.hero {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
    background-color: white;
}

.hero img {
    width: 100%;
}

.hero div {
    position: absolute;
    top: 0;
    left: 10%;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.hero h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.hero button {
    background: black;
    color: white;
    width: 8em;
}

@media screen and (max-width: 800px) {
    .hero div {
        position: relative;
        left: 0;
        margin: 25px 10%;
    }
}