nav ul {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

nav li {
    display: inline-block;
}

nav li + li {
    margin-left: 50px;
}

nav a {
    color: white;
}

nav span {
    display: block;
    background-color: white;
    width: 0;
    height: 0.1em;
    transition: width 0.2s;
}

nav span.active {
    width: 100%;
}

nav li:hover span {
    width: 100%;
}

@media screen and (max-width: 800px) {
    nav li + li {
        margin-left: 25px;
    }
}