.nav-bar {
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

.nav-bar li {
    display: inline-block;
}

.nav-bar li + li {
    margin-left: 50px;
}

.nav-bar a {
    color: white;
}

.nav-bar span {
    display: block;
    background-color: white;
    width: 0;
    height: 0.1em;
    transition: width 0.2s;
}

.nav-bar span.active {
    width: 100%;
}

.nav-bar li:hover span {
    width: 100%;
}

@media screen and (max-width: 800px) {
    .nav-bar li + li {
        margin-left: 25px;
    }
}