.product-card {
    background-color: var(--color-panel);
    height: 100%;
    text-align: center;
}

.product-card p {
    opacity: 0.5;
}

.product-card span {
    font-size: 1.5em;
}

div#price-and-buy {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin-bottom: 20px;
}

div#price-and-buy p {
    margin: 0;
}